SERVER_HOST='123'
SERVER_USER='abc'
SERVER_PASS='abc123'
BIND_ADDRESS='123'
BIND_PORT=123
DATABASE='abc'
DATABASE_USER='abc'
DATABASE_PASS='abc123'

WPSCAN_API_KEY_1='asdf'
WPSCAN_API_KEY_2='asdf'
WPSCAN_API_KEY_3='asdf'
WPSCAN_API_KEY_4='asdf'
WPSCAN_API_KEY_5='asdf'
WPSCAN_API_KEY_6='asdf'
WPSCAN_API_KEY_7='asdf'
WPSCAN_API_KEY_8='asdf'
WPSCAN_API_KEY_9='asdf'
WPSCAN_API_KEY_10='asdf'
WPSCAN_API_KEY_11='asdf'
WPSCAN_API_KEY_12='asdf'
WPSCAN_API_KEY_13='asdf'
WPSCAN_API_KEY_14='asdf'
WPSCAN_API_KEY_15='asdf'

TEAMS_WEBHOOK='https://example.com'

SHAREPOINT_USERNAME='abc'
SHAREPOINT_PASS='abc123'
SHAREPOINT_SITE_URL='https://example.com'
SHAREPOINT_FOLDER_PATH='/path/to/folder'