aenum=
annotated-types
appdirs
APScheduler=
azure-core=
azure-storage-blob==
bcrypt
beautifulsoup4=
bs4
case-conversion
certifi==20
cffi=
chardet
charset-normalizer
clipboard
colorama
colour
cryptography=
cursor
decorator
dill
fuzzywuzzy=
gender-guesser
greenlet
html-text
id
imageio=
imageio-ffmpeg
infi.systray=
inflect
isodate
lxml
maybe-else
mbstrdecoder
moviepy
msal=
msoffcrypto-tool
numpy=
O365=
oauthlib
office365=
Office365-REST-Python-Client
olefil
packagin
pandas
paramiko
parsedateti
pathmagic=
Pillow=
prettierfier
proglog=
pycparse
pydantic
pydantic_core=
pydub=
pyinstrument
pyiotools=
PyJWT
pymiscutils=
pymsteams
PyMySQL
PyNaCl
PyPDF2
pyperclip
PyQt5=
PyQt5-Qt5=
PyQt5-sip==
pysubtypes=
python-dateutil
python-docx=
python-dotenv
pytz==2023.
pytz-deprecation-shim==0.1.
readchar
regex==2
requests=
requests-oauthlib
Send2Trash
simplejson=
six=
soupsie
SQLAlchemy=
sshtunnel
stringcase
tabulate
tqdm=
typepy
typing_extensions
tzdata=
tzlocal
urllib3
XlsxWriter